.container {
  margin: 0 auto;
  width: 750px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}
.pricing{
  width: 100%;
}
.pricing_features {
    display: inline-block;
    margin: 0;
    width: 245px;
}

h5 {
    text-align: center;
}

ul li {
    list-style-type: square;
}
